.navbar {
  background-color: #3f1919;
}

#sidebar-wrapper {
  font-family: 'Gothic A1', sans-serif;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 24rem;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  float: left;
  z-index: 1;
  left: 0;
  background-color: white;
  top: -4vh;
}

#sidebar-wrapper .sidebar-heading {
  font-weight: bold;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .sidebar-body {
  min-height: 85vh;
  max-height: 89vh;
  overflow-y: auto;
}

#sidebar-wrapper .sidebar-footer {
  max-height: 10vh;
}