html body {
  background-color: whitesmoke;
}

.vertical-center {
  min-height: 85vh;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}

.chat {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  /* max-height: 90vmax; */
  /* height: 90vmax; */
  /* height: 43rem; */
  /* height: 80ch; */
  /* height: 80vh; */
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  background: #efe7dd;
  clear: both;
  position: relative;
  overflow: hidden;
  /* height: 90vh; */
  /* padding: 0 16px; */
}

.mesgs {
  text-align: center;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.msg_history {
  /* height: 600px; */
  height: 75vh;
  overflow-y: auto;
  padding: 0 16px;
  margin-bottom: 5px;
}

.msg_history ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.msg_history ::-webkit-scrollbar-track {
  background: transparent;
}

.msg_history ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

/* message */
.received_msg {
  display: inline-block;
  /* padding: 0 0 0 10px; */
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  margin: 13px 0 13px;
}

.received_withd_msg p {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0px 5px 5px 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  word-break: break-all;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 57%;
}

.sent_msg p {
  font-size: 16px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  word-break: break-all;
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
}

.sent_msg {
  padding: 0 0 0 10px;
  vertical-align: top;
  float: right;
  width: 46%;
}


.outgoing_msg {
  overflow: hidden;
  margin: 13px 0 13px;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border: 1px solid #c4c4c4;
  background: #fff;
  position: relative;
  border-radius: 5px 0px 5px 5px;
}

.messaging {
  padding: 0 0 50px 0;
}

.language-button-vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}